@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="编号" underline="true"/>
                            <#input id="owenid" name="归属id" underline="true"/>
                            <#input id="filename" name="文件名称" underline="true"/>
                            <#input id="filesuffix" name="文件后缀" underline="true"/>
                            <#input id="fileurl" name="文件地址"/>
                </div>

                <div class="col-sm-6">
                            <#input id="filetype" name="文件类型" underline="true"/>
                            <#input id="description" name="描述" underline="true"/>
                            <#input id="filesource" name="文件来源" underline="true"/>
                            <#input id="uuid" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SendFileInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SendFileInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/sendFile/sendFile_info.js"></script>
@}
