<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.SendFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.SendFile">
        <id column="id" property="id" />
        <result column="owenid" property="owenid" />
        <result column="filename" property="filename" />
        <result column="filesuffix" property="filesuffix" />
        <result column="fileurl" property="fileurl" />
        <result column="filetype" property="filetype" />
        <result column="description" property="description" />
        <result column="filesource" property="filesource" />
        <result column="uuid" property="uuid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, owenid, filename, filesuffix, fileurl, filetype, description, filesource, uuid
    </sql>

</mapper>
